body{
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}
.question{
    margin: 0;
}
.line{
    /* border-bottom: solid 3px #e0e419 ;  */
    display: block;
    margin-top: 10px;
    width: 120px;
    height: 2px;
    background-color: #00ab36;
}
.pushsh{
    width:300px
}
img{
    width:600px
}
.pushsh{
    font-size: 15px;
    font-weight: bold;
    text-align: left; 
    border-color: rgb(247, 238, 238);
    border-width: 1px;
    background-color:white;
    width:610px;
    height: 50px;
    cursor: pointer;
}
