body{
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}
/* .quizHead{
    margin: 0;
} */
.quiz-title{
    margin-bottom: 10px;
}
.quizHead{
    display: block;
    margin-top: 10px;
    width: 120px;
    height: 2px;
    background-color: #00ab36;
}



img{
    width:600px
}

.pushsh{
    font-size: 15px;
    font-weight: bold;
    text-align: left; 
    border-color: rgb(247, 238, 238);
    border-width: 1px;
    background-color:white;
    width:610px;
    height: 50px;
    cursor: pointer;
    margin-top: 6px;
    margin-bottom: 6px;
}
/* ボタン押したら赤になる */
.becomeRed{
    background-color: #ff5128;
    color:white;
}
.becomeBlue{
    background-color:#287dff ;
    color:white;
}
.answerBox{
    display:block;
    background-color: #f5f5f5;
    padding: 10px;

}
.ansStyle{
    font-weight: bold;
    width: auto;
    margin: 0,0,10px;
}
.ansUnder{
    border-bottom: 3px solid #287dff;
}
.wrongBox{
    display: block;
    background-color: #f5f5f5;
    padding: 10px;
}
.wrongUnder{
    border-bottom: 3px solid #ff5128;
}
.disappear{
    display: none;
}

.OKUnder{
    font-weight: bold;
    text-decoration:underline #287dff 3px;
}

.faultUnder{
    font-weight: bold;
    text-decoration:underline #ff5128 3px;
}