body{
    background-color: #f5f5f8;
    margin: 0;
    position: relative;
}
.webapp{
    position: relative;
}
.head_contents{
    display: flex;
    justify-content: space-between;
    height: 64px;
    background-color: white;
    align-items: center;
}
.head_contents div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;

}
.head_contents div img{

   width: 33%;
   height: 20%;
   margin: 0 5% 0 15%;
}
.head_contents_week{
    font-size: 1vw;
    width: 35%;
    margin: 0;
    color: rgb(157, 196, 209);

}
.btn{
    margin-right: 7%;
    width: 14%;
    height: 65%;
    border-radius: 20px;
    background: linear-gradient(to right, #0f71bc,#3ccfff);
    /* font-weight: bold; */
    color: white;
    border: none;
    box-shadow: 4px 3px 9px rgb(63, 149, 248);
}
.toggleAppear{
    display: none;
}
.boxes1{
    border-radius: 10px;
    box-shadow: 4px 3px 5px rgb(182, 182, 182);
    border: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* height: 100%; */

}
.boxes2{
    border-radius: 10px;
    box-shadow: 4px 3px 5px rgb(180, 180, 180);
    border: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2%;
    height: 36.5vw;
    font-size: 1vw;

}
.dataContents{
    display: flex;
    /* justify-content: center; */
    margin: 20px 7%;

}
.dataContents_left{
    height: 100%;
    width: 50%;
    margin-right: 20px;
}
.dataContents_left_studyHour{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.dataContents_left_studyHour_box{
    width: 50%;
    height: 9vw;
    margin-right: 20px;
    
}
.boxend{
    width: 50%;
    height: 9vw;
    border-radius: 10px;
    box-shadow: 4px 3px 5px rgb(182, 182, 182);
    border: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 0;
}
.dataContents_left_studyHour_title{
    font-size: 1vw;
    margin: 3%;
    font-weight: bold;
    color: #0f71bc;
}
.dataContents_left_studyHour_num{
    font-size: 2vw;
    font-weight: bold;
}
.dataContents_left_studyHour_hour{
    font-size: 1vw;
    color: rgb(133, 166, 255);
}

.border{
    width: 100%;
    height: 2px;
    background-color: rgb(212, 224, 255);
    display: none;
}

.dataContents_left_graph{
    margin: 10px;
    margin-left: 0;
    height: 27vw;
    object-fit: cover;
}
.dataContents_right{
    display: flex;
    width: 50%;
    height: 100%;
}

.dataContents_right_lang{
    /* position: relative; */
    margin-right: 20px;
    width: 50%;
    
}
.dataContents_right_colorName{
    display:flex;
    flex-wrap:wrap;

    margin-top: 10%;
    
}
.dataContents_right_colorName div{
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    margin-right: 1vw;
    height: 45%;
    
}
.dataContents_right_colorName div div{
    width:10px;
    height: 10px;
    border-radius: 50%;
}
.color1{
    background-color: #0345EC;
    
}
.color2{
    background-color: #0F71BD;
}
.color3{
    background-color: #20BDDE;
    
}
.color4{
    background-color: #3CCEFE;
    
    
}
.color5{
    background-color: #B29EF3;
    
}
.color6{
    
    background-color:#6D46EC ;
}
.color7{
    
    background-color:#4A17EF ;
}
.color8{
    
    background-color: #3105C0;
}


.dataContents_right_contents{
    /* position: relative; */
    
    width: 50%;
}

.chartPie{
    box-sizing: border-box;
    object-fit: contain;
    width: 100%;
    height: 50%;
}
.chartPie2{
    box-sizing: border-box;
    object-fit: contain;
    width: 100%;
    height: 50%;
}
.checkTime{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fas{
    color: rgb(98, 151, 248);
    margin:0 1%;
}

.beBlack{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
}





.Modal{
    position: absolute;
    display: flex;
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 10%;
    width: 85%;
    background-color: white;
    border-radius: 20px;
    top: 5%;
    left: 0;
    right: 0;
    z-index: 2;
    
    margin: auto;
}
.Modal_contents{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin: 56px;
}
h5{
    margin-top: 24px;
    margin-bottom: 10px;
}
.Modal_contents_left{
    width: 50%;
}
.Modal_contents_left input{
    display: flex;
    align-items: center;
    width: 90%;
    border:none;
    background-color:#f5f5f8;
    border-radius: 10px;
    margin-top: 1%;
    height: 40px;
    margin-right: 40px;
}

.Modal_contents_left_content{
    display: flex;
    flex-wrap: wrap;
    margin-right: 20%;
}
.Modal_contents_left_content label{
    display: flex;
    align-items: center;
    background-color: #f5f5f8;
    border-radius: 20px;
    margin-left: 8px;
    margin-top: 8px;
    white-space: nowrap;
    
}
.Modal_contents_left_content input{
    display: none;
}

.Modal_contents_left_content label i{
    color: #cccccc;
    
}

.Modal_contents_right{
    width: 50%;
    position: relative;
}
.fa-times-circle{
    position: absolute;
    color: #ececec;
    top: -5%;
    right: -5%;
    font-size: 2.5vw;
}
.Modal_contents_right input{
    border: none;
    background-color: #f5f5f8;
    border-radius: 10px;
    margin-top: 1%;
    width: 100%;
}
.timeBox{
    height: 10%;
}
.twiBox{
    height: 50%;
    display: flex;
    align-items: center;
    width: 100%;
    background-color:#f5f5f8;
    border-radius: 10px;
    margin-top: 1%;
    border: none;
    margin-right: 40px;
}
.Modal_contents_right div{
    display: flex;
    align-items: center;
    margin: 0 10%;
}
.Modal_contents_right div i{
    font-size: 150%;
}
.Modal button{
    width: 40%;
    height: 3vw;
    margin-bottom: 4%;
    font-size: 1.5vw;
}
.checked label{
    background-color: #e7f5ff;
}
.checked label i{
    color: #0C70BD;
}

.appear{
    display: flex;
}

@media screen and (max-width: 720px){
    
    .head_contents div{
        width: 70vw;
        height: 100%;
        
    }
    
    .head_contents div img{
        object-fit: contain;
        height: 100%;
        margin: 0 5% 0 15%;
    }
    .dataContents{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        margin: 20px 7%;
    }
    .dataContents_left{
        width: 100%;
    }
    .dataContents_right{
        max-width: 100%;
        width: 100%;
        display: flex;
    }
    .dataContents_left_studyHour div{
        width: 50%;
        height: 20vw;
        margin-right: 20px;
        
    }
    .dataContents_left_studyHour_title{
        font-size: 3vw;
        
        color: #0f71bc;
    }
    .dataContents_left_studyHour_num{
        font-size: 5vw;
    }
    .dataContents_left_studyHour_hour{
        font-size: 2vw;
        color: rgb(133, 166, 255);
    }
    .border{
        display: block;
        margin: 16px 0;
    }
    .dataContents_left_graph{
        margin:16px 0;
        height: 33vw;
        object-fit: contain;
    }
    .boxend{
        margin-right: 0;
    }
    .boxes2{
        border-radius: 10px;
        box-shadow: 4px 3px 5px rgb(184, 184, 184);
        border: none;
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 70vw;
        font-size: 1vw;
        
    }
    .dataContents_right_lang{
        width:46% ;
        margin-right: 4%;
    }
    .dataContents_right_contents{
        
        width: 46%;
    }
    .chartPie{
        width: 50%;
        height: 50%;

    }
    .chartPie2{
        width: 50%;
        height: 50%;
    }
    .btn{
        display: none;
    }
    .toggleAppear{
        
        display: block;
        width: 80%;
        height: 30px;
        margin: 3% auto 20px;
    }
    .Modal{
        
        margin: 7% 0 0 0;
        width: 100%;
        border-radius: 20px 20px 0 0;
        top: 15%;
        left: 0;
        right: 0;
        bottom: -20px;
        
    }
    
    .Modal_contents{
        display: flex;
        flex-direction: column;
        position: relative;
        /* justify-content: space-evenly; */
        margin: 20px;
    }
    .Modal_contents_left{
        width: 100%;
    }
    .timeBox{
        background-color:#f5f5f8;
        height: 40px;
    }
    .twiBox{
        height: 80px;
    }
    .Modal_contents_right{
        width: 100%;
        height: 33vw;
        position: relative;
    }
    
    .Modal_contents_right input{
        border: none;
        background-color: #f5f5f8;
        border-radius: 10px;
        margin-left: 0;
        margin-top: 0;
        width: 100%;
    }
    .dataContents_right_colorName div{

        height: 20%;
        
    }
    .Modal button{
        width: 80%;
        height: 30px;
        margin-bottom: 4%;
        font-size: 20px;
    }
    .fa-times-circle{
        position: absolute;
        color: #ececec;
        top: 1%;
        right:1%;
        font-size:5vw;
    }
    
    
    
    
    
    
}